In [1]:
import pandas as pd

In [2]:
file_location = input("Enter the location")

Enter the locationC:\Users\david\Data_Sciences\ML\INeuron\sensor_fault_detection\artifact\03_30_2023_19_55_24\data_ingestion\feature_store\sensor.csv

In [3]:
file_location = str(file_location)

In [4]:
pd.read_csv(file_location)

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,pos,453236,NaN,2.926000e+03,NaN,0.0,0.0,0.0,0.0,222.0,...,7908038.0,3026002.0,5025350.0,2025766.0,1160638.0,533834.0,493800.0,6914.0,0.0,0.0
1,pos,791254,NaN,NaN,NaN,NaN,NaN,0.0,14868.0,921256.0,...,3625532.0,1380864.0,3262488.0,5727988.0,7563752.0,12114820.0,264714.0,198.0,NaN,NaN
2,pos,590444,NaN,0.000000e+00,NaN,0.0,0.0,0.0,0.0,0.0,...,5177836.0,2567578.0,5234638.0,4877190.0,3544400.0,1805986.0,2901856.0,138534.0,0.0,0.0
3,pos,1229076,NaN,1.358000e+03,NaN,0.0,0.0,0.0,0.0,28338.0,...,1451244.0,571890.0,1592832.0,8443466.0,595324.0,137268.0,47366.0,34.0,0.0,0.0
4,pos,137940,NaN,2.640000e+02,148.0,0.0,0.0,0.0,1752.0,149486.0,...,841534.0,372982.0,887390.0,1402466.0,1758060.0,874390.0,20000.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36183,neg,18,0.0,2.200000e+01,22.0,14.0,8.0,0.0,0.0,0.0,...,146.0,36.0,64.0,66.0,94.0,52.0,0.0,0.0,0.0,0.0
36184,neg,16978,NaN,2.130706e+09,1750.0,0.0,0.0,0.0,0.0,0.0,...,167080.0,87242.0,141522.0,147958.0,103198.0,68364.0,56256.0,1128.0,0.0,0.0
36185,neg,18,0.0,2.130706e+09,18.0,0.0,0.0,0.0,0.0,0.0,...,56.0,16.0,34.0,22.0,86.0,10.0,0.0,0.0,0.0,0.0
36186,neg,562,0.0,4.000000e+00,4.0,0.0,0.0,0.0,0.0,0.0,...,2880.0,644.0,1110.0,526.0,1162.0,14756.0,128.0,0.0,0.0,0.0
36187,neg,153002,NaN,6.640000e+02,186.0,0.0,0.0,0.0,0.0,0.0,...,998500.0,566884.0,1290398.0,1218244.0,1019768.0,717762.0,898642.0,28588.0,0.0,0.0

In [1]:
data={'key':1}

In [5]:
data.get('key')

1